<div class="container">
    <div class="flex justify-center">

        <button class="font-GothamProRegular text-base uppercase text-black py-3 w-full rounded-3xl bgc-f4 mr-3">iico
            cloud
        </button>

        <button class="font-GothamProRegular text-base uppercase text-black py-3 w-full rounded-3xl bgc-f4 mx-3">iico
            cloud
        </button>

        <button class="font-GothamProRegular text-base uppercase text-black py-3 w-full rounded-3xl bgc-f4 ml-3">iico
            cloud
        </button>

    </div>

</div>