<div class="burger-menu">

    <a href="#" class="burger-menu__button">

        <span class="burger-menu__lines"></span>

    </a>

    <nav class="burger-menu__nav font-GothamProRegular text-18 text-black text-center">

        <a href="#" class="burger-menu__link py-3">о компании</a>
        <a href="#" class="burger-menu__link py-3">возможности</a>
        <a href="#" class="burger-menu__link py-3">цены</a>
        <a href="#" class="burger-menu__link py-3">контакты</a>

    </nav>
</div>
<div class="burger-menu__overlay"></div>
