<div class="container main-banner">

    <div class="main-title">

        <div class="flex items-center justify-between">

            <img class="py-2" src="/img/iiko-logo-big.svg" alt="">
            <span class="font-GothamProLight uppercase text-68 border-top-5 leading-none self-end">компания</span>

        </div>

        <span class="font-GothamProBold text-23 uppercase color-6b my-5 block">Автоматизация кофейни, фудтрака, пекарни</span>

        <div class="mb-3 space-y-2 w-full text-xs">

                <div class="flex justify-between w-full items-center relative">

                    <input type="text"
                           class="w-full leading-normal border border-l-0 border-grey-light rounded- rounded-4xl px-3 focus:border-blue focus:shadow h-65 outline-none box-shadow"
                           placeholder="ТЕЛ.">

                    <button class="w-1/2 absolute font-GothamProBold text-base uppercase color-f8 rounded-4xl right-0 h-65">купить
                    </button>

                </div>

            </div>

    </div>

</div>