<div class="container px-0">

    <div class="flex main-banner md:justify-left lg:justify-center w-full">
        <div class="main-title">

            <div class="flex items-center justify-between">

<!--                <img class="py-2" src="./img/iiko-logo-big.svg" alt="">-->
                <p class="uppercase font-GothamProBlack lg:text-92 md:text-82 text-68 leading-none color-a6 gradient-color">iiko <span class="font-GothamProLight uppercase lg:text-68 md:text-58 text-32 border-top-5 leading-none self-end">компания</span></p>


            </div>

            <span class="font-GothamProBold lg:text-23 md:text-19 text-15 uppercase color-6b my-5 block">Автоматизация кофейни, фудтрака, пекарни</span>

            <div class="mb-3 space-y-2 w-full text-xs">

                <div class="flex justify-between w-full items-center relative">

                    <input type="text"
                           class="w-full leading-normal border border-l-0 border-grey-light rounded- rounded-4xl px-3 focus:border-blue focus:shadow h-65 outline-none box-shadow"
                           placeholder="ТЕЛ.">

                    <button class="w-1/2 absolute font-GothamProBold text-base uppercase color-f8 rounded-4xl right-0 h-65">
                        купить
                    </button>

                </div>

            </div>

        </div>
    </div>

</div>