<footer class="footer bgc-f4 py-16">
    <div class="container">

        <div class="flex flex-col md:flex-row items-center justify-between">

            <div class="logo pb-5 md:pb-0 md:self-start">
                <img src="/img/logo-iiko.svg" alt="">
            </div>

            <div class="flex flex-col">

                <div class="menu md:pl-16">
                    <ul class="font-GothamProRegular text-base text-black uppercase flex flex-col md:flex-row items-center">
                        <li class="lg:px-6 md:px-3 py-3 md:py-0 leading-none"><a href="">о компании</a></li>
                        <li class="lg:px-6 md:px-3 py-3 md:py-0 leading-none"><a href="">возможности</a></li>
                        <li class="lg:px-6 md:px-3 py-3 md:py-0 leading-none"><a href="">цены</a></li>
                        <li class="lg:px-6 md:px-3 py-3 md:py-0 leading-none"><a href="">контакты</a></li>
                    </ul>
                </div>

                <div class="button self-end py-3 hidden md:block">
                    <button class="font-GothamProBold text-base uppercase color-f8 color-f8 py-3 px-6 rounded-3xl bg-gradient">
                        заказать звонок
                    </button>
                </div>

            </div>

        </div>

        <div class="flex justify-between md:mt-12 mt-6 flex-col md:flex-row items-center">
            <p class="font-GothamProRegular text-14 color-cc">Copyright 2021 - ARST. All Rights Reserved</p>
            <a class="font-GothamProRegular text-14 color-cc" href="https://dev-pro.ru/" target="_blank">Created by -
                DevPro</a>
        </div>
    </div>
</footer>