<div class="container nav">

    <div class="flex items-center justify-between">
        
        <div class="logo">
            <img src="./img/logo-iiko.svg" alt="">
        </div>

        <div class="menu pl-16 hidden md:block">

            <ul class="font-GothamProRegular text-base text-black uppercase flex">
                <li class="lg:px-6 md:px-3"><a href="">о компании</a></li>
                <li class="lg:px-6 md:px-3"><a href="">возможности</a></li>
                <li class="lg:px-6 md:px-3"><a href="">цены</a></li>
                <li class="lg:px-6 md:px-3"><a href="">контакты</a></li>
            </ul>

        </div>

        <div class="button hidden lg:block">
            <button class="font-GothamProBold text-base uppercase color-f8 py-3 px-6 rounded-3xl">заказать звонок</button>
        </div>

        <div class="relative md:hidden">

        @@include('../burger/burger.html')

        </div>


    </div>
</div>